
<div class="row">
    <div class="col text-center">
        <h1>Jugadores</h1>
        <div class="row">
            <a asp-controller="Jugadores"
               asp-action="ListaJugadoresAdmin"
               >
                <img src="https://storagetajamarjalt.blob.core.windows.net/torneos/playerslogo-removebg-preview.png" height="300" width="350" />

            </a>
        </div>
    </div>
    <div class="col text-center">
        <h1>Torneos</h1>
        <div class="row">
            <a asp-controller="Torneos"
               asp-action="ListaTorneosAdmin"
             >
                <img src="https://storagetajamarjalt.blob.core.windows.net/torneos/logotorneos-removebg-preview.png" height="300" width="350" />

            </a>
        </div>
    </div>
    <div class="col  text-center">
        <h1>Apuntados</h1>
        <div class="row">
            <a asp-controller="Apuntados"
               asp-action="ListaApuntadosAdmin"
               >
                <img src="https://storagetajamarjalt.blob.core.windows.net/torneos/profile-removebg-preview.png" height="300" width="350" />

            </a>
        </div>

    </div>
</div>